<% unless @projects.empty? %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Details</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @projects.each do |project_hash| %>
          <tr>
            <td><%= project_name(project_hash) %></td>
            <td width="30%"><%= status(project_hash) %></td>
            <td><%= details_for project_hash %></td>
            <td>
              <% unless details_for(project_hash).empty? %>
                  <%= link_to "Send email", "#", class: "btn btn-info" %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>