<%= button_to "Sync Projects", project_syncs_path, class: "btn btn-primary" %>

<% unless @projects.empty? %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th width="30%">Last Commit at</th>
        <th>description</th>
      </tr>
      </thead>
      <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project_path(project) %></td>
            <td><%= last_commit_time(project) %></td>
            <td><%= project.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>